<html>
<body>

<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите Сообщение" >
        <input type="text" name="tag" placeholder="ТЄГ">
        <button type="submit">Добавить</button>
    </form>
</div>

<div> Список Сообщений</div>
 {{#messages}}
     <div>
         <b>{{id}}</b>
         <span>{{span}}</span>
         <i>{{tag}}</i>
     </div>

     {{/messages}}

</body>
</html>